.name{
    color: #ff3399;
}
.desc{
    color: gray;
}
.starStat{
   
    
    font-size: 30px;
    margin-top: 125px;
    display: flex;

}
.image{
    height: 212px;
}


.list{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-top:  150px;
     
 }   

 .sweet-loading{
     margin-top: 220px;
 }
 .button-Remove{
     background: rgb(175, 174, 174);
     color: #ff3399;
     border: transparent;
     
     height: 34px;
     width: 45%;
 }